#editTask {
  margin: 15px auto;
  width: 68%;
  height: 95%;
  box-shadow: 0 4px 8px silver, 0 8px 16px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

#editTask > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 10px 10px -15px #111;
}

#editTask > .body {
  display: flex;
  justify-content: space-between;
  height: 80%;
  overflow: hidden;
  /* align-items: center; */
}

#editTask .bodySection {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* containers  */
#editTask > .body .bodySection > div {
  border-radius: 10px;
  box-shadow: 0 0 5px silver, 0 3px 5px rgb(226, 224, 224), 0 0 2px inset silver;
  width: 97%;
  height: 25%;
  margin-top: 25px;
}

#editTask .bodySection div:nth-of-type(2) {
  /* box-shadow: 30px 0 10px -32px lightskyblue, -30px 0 10px -32px lightskyblue; */
}

/* assignee */
#editTask .assigneeContainer {
  height: 23% !important;
  display: flex;
}

#editTask .assigneeContainer .header {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#editTask .assigneeContainer .header .photo {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 5px silver, 0 3px 5px rgb(226, 224, 224), 0 0 2px inset silver;
}
#editTask .assigneeContainer .body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0;
}
#editTask .assigneeContainer .body .title {
  padding-bottom: 2px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 8px -8px silver;
  font-size: 20px;
}
#editTask .assigneeContainer .body .name {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

/* task state */
#editTask .stateContainer {
  height: 30% !important;
}
#editTask .stateContainer .header {
  box-shadow: 0px 10px 10px -15px #111;
  font-size: 20px;
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editTask .stateContainer .body {
  display: flex;
  height: 52%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#editTask .stateContainer .body .icon {
  width: 30%;
  height: 95%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 700ms ease;
}

#editTask_TaskState {
  width: 60%;
  height: 45%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

/* comment and description */
#editTask .middle > div {
  height: 35% !important;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#editTask .middle > div > .header {
  height: 20%;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 8px 8px -8px silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editTask .middle > div > .body {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  font-size: 16px;
  width: 95%;
  height: 95%;
  border: outset 2px silver;
  outline-width: 0px;
  resize: none;
  transition: 200ms ease;
}

textarea:hover,
textarea:focus {
  box-shadow: 0 0 0 1px rgb(177, 139, 237);
  border-style: inset;
}

/* dates */
.dateContainer {
  height: 25% !important;
}

.dateContainer .header {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 8px 8px -8px silver;
}

.dateContainer .body {
  height: 45% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  align-content: normal !important;
}

input[type="date"] {
  font-size: 16px;
  background-image: linear-gradient(90deg, white, rgb(217, 237, 254));
  border: 2px outset gray;
  border-radius: 2px;
  box-shadow: 1px 1px 2px black;
  outline: none;
}

/* footer */
#editTask > .footer {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 15%;
  height: 90%;
  position: relative;
  border: 2px solid grey;
  transition: 300ms ease;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  box-shadow: inset 0 0 2px black, inset 0 0 4px black;
}

.btn:active {
  transform: scale(0.9);
  box-shadow: inset 0 0 2px black, inset 0 0 4px black,
    0 0 10px rgb(101, 158, 158);
}
