#pageMessage {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: red;
  position: absolute;
  top: 85%;
  left: calc(100% - 420px);
  padding: 10px;
  background-color: lightsteelblue;
  position: absolute;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 20px;
  text-shadow: 1px 1px 1px black, 3px 3px white;
  box-shadow: 2px 2px 2px black;
  text-align: center;
}

/* mesajlar yazılacak */

.appear_disappear {
  display: flex !important;
  animation-name: dissapperMessage;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.disapperMessage {
  display: flex !important;
  animation-name: dissapperMessage;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


@keyframes dissapperMessage {
  0% {
    top: 85%;
    opacity: 1;
  }

  100% {
    height: 0px;
    top: 55%;
    opacity: 0;
    padding: 0;
  }
}
