#pageMessage {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 7px;
  border: 2px solid black;
  position: absolute;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  white-space: pre-wrap;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  padding:  0 30px;

  width: 400px;
  left: calc(100% - 420px);
  display: none;
  top: 50%;
  height: 100px;
  /* display: flex; */
}

.disappearMessage {
  display: flex !important;
  animation-name: disappearMessage;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes disappearMessage {
  0% {
    top: 85%;
    opacity: 1;
    height: 100px;
  }

  100% {
    top: 50%;
    opacity: 0;
    height: 0px;
  }
}

.appearMessage {
  display: flex !important;
  animation-name: appearMessage;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes appearMessage {
  0% {
    top: 50%;
    opacity: 0;
    height: 0px;
  }

  100% {
    top: 85%;
    opacity: 1;
    height: 100px;
  }
}
