#projectDetails {
  width: 70%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  border: 1px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}

#projectDetails * {
  user-select: none;
  box-sizing: border-box;
}
#projectDetails > div {
  height: 100%;
}

#projectDetails .left {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}
#projectDetails .left .projectPhotoContainer {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  border: 3px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#projectDetails .left .projectPhotoContainer .projectPhoto {
  height: 80%;
  width: 100%;
  background-image: url(../images/project/t.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#projectDetails .left .memberContainer {
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
  margin-top: 10px;
  overflow: auto;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#projectDetails .left .memberContainer .header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
  font-size: 24px;
  box-shadow: 0px 12px 5px -14px black;
}
#projectDetails .left .memberContainer .iconContainer {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}
#projectDetails .left .memberContainer .iconContainer .noMember {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#projectDetails .left .memberContainer .iconContainer .icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1%;
  height: 100%;
  border-radius: 10px;
  width: 18%;
}

#projectDetails .left .stateContainer {
  margin-top: 10px;
  border-radius: 10px;
  height: 100px;
  overflow: hidden;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#projectDetails .left .stateContainer .header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
  box-shadow: 0px 12px 5px -14px black;
}
#projectDetails .left .stateContainer .state {
  height: 60%;
  display: flex;
  justify-content: center;

  /* border: 1px solid black; */
}
#projectDetails .left .stateContainer .state .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  /* border: 1px solid black; */
}
#projectDetails .left .stateContainer .state .value {
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 20px;
  /* border: 1px solid black; */
}

#projectDetails .left .progressContainer {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 100px;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}
#projectDetails .left .progressContainer .header {
  text-align: center;
  height: 40%;
  font-size: 24px;
  box-shadow: 0px 12px 5px -14px black;
}
#projectDetails .left .progressContainer .progressBarContainer {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projectDetails .left .progressContainer .progressBarContainer .value {
  font-size: 23px;
  width: 20%;
}
#projectDetails .left .progressContainer .progressBarContainer .bar {
  width: 70%;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px black, 0px 0px 14px silver;
}
#projectDetails .left .progressContainer .progressBarContainer .bar .progress {
  width: 10px;
  background-color: rgb(55, 228, 219);
  height: 100%;
}

#projectDetails .left .taskContainer {
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* background-color: yellow; */
}
#projectDetails .left .taskContainer .header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  box-shadow: 0px 12px 5px -14px black;
  height: 30%;
}
#projectDetails .left .taskContainer .container {
  /* border: 1px solid black; */
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#projectDetails .left .taskContainer .container .icon {
  background-image: url(../images/main/project/task.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 25%;
  /* border: 1px solid black; */
}
#projectDetails .left .taskContainer .container .value {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 1px solid black; */
}
/* ************************************************************************************ */
#projectDetails .middle {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}
#projectDetails .middle div {
  width: 100%;
}

#projectDetails .middle .projectNameContainer {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: 600;

  border-radius: 10px;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}
#projectDetails .middle .descriptionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
  border-radius: 10px;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}
#projectDetails .middle .descriptionContainer .header {
  display: flex;
  align-items: center;
  height: 15%;
  font-size: 23px;
  padding-left: 20px;
  /* border: 1px solid black; */
  box-shadow: 0px 12px 5px -14px black;
}
#projectDetails .middle .descriptionContainer .description {
  font-size: 18px;
  padding: 10px 20px;
  height: 80%;
  /* border: 1px solid black; */
}
#projectDetails .middle .datesContainer {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 10px;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}
#projectDetails .middle .datesContainer .dateContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#projectDetails .middle .datesContainer .dateContainer .header {
  font-size: 23px;
  height: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 12px 5px -14px black;
}
#projectDetails .middle .datesContainer .dateContainer .date {
  font-size: 20px;
  padding-top: 10px;
  height: 50%;
  /* border: 1px solid black; */
}

#projectDetails .middle .buttonContainer {
  height: 15%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    0px 0px 5px inset silver;
}

#projectDetails .middle .buttonContainer .button {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px;
  width: 150px;
  max-width: 200px;
  min-width: 150px;
  /* width: 50%; */
  border-radius: 10px;

  position: relative;
  top: 0;
  transition: 1s ease;
  box-shadow: 0px 0px 15px silver;
  border: 1px solid darkgray;
}

#projectDetails .middle .buttonContainer .button:active {
  width: 50%;
  height: 50%;
  transform: rotateX(10deg);
}

#projectDetails .middle .buttonContainer .button:hover {
  box-shadow: 0px 0px 15px lightseagreen, 0px 0px 5px darkblue;
  top: -2px;
}

#projectDetails .middle .buttonContainer .button:nth-of-type(2):hover {
  box-shadow: 0px 0px 15px pink, 0px 0px 5px red;
  top: -2px;
}

#projectDetails .middle .buttonContainer .button::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  transition: 200ms ease;
}

#projectDetails .middle .buttonContainer .button:hover::after {
  animation-name: shine;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    border: 10px solid white;
    opacity: 1;
  }
  100% {
    box-shadow: 0px 0px 5px lightseagreen;
    border: 10px solid white;
    width: 120%;
    height: 120%;
    opacity: 0;
  }
}

#projectDetails .middle .buttonContainer .button:active::after {
  animation-name: shineActive;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shineActive {
  0% {
    opacity: 1;
  }
  100% {
    box-shadow: 0px 0px 30px 5px darkblue;
    width: 120%;
    height: 120%;
    opacity: 0;
  }
}
