#myTaskFrame,
#myTaskFrame * {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#myTaskFrame {
  margin: 0 auto;
  /* width: 100%; */
  /* height: 100%; */
  width: 1400px;
  height: 540px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid black; */
  /* box-shadow: 0 0 8px #8c78ba; */
}

#myTaskFrame .categoryContainer {
    border-radius: 5px;
    width: 100%;
    height: 55px;
    box-shadow: 0 35px 6px -35px black;
    border: 1px solid black;
}

#myTaskFrame .categoryContainer .category {
  border: 1px solid black;
  height: 90%;
  padding: 0 5px;
}

#myTaskFrame .taskContainer {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  height: 440px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

#myTaskFrame .taskContainer .task {
  border: 1px solid black;
  margin-top: 10px;
  width: 33%;
  height: 100px;
}

#myTaskFrame .taskContainer .task .name {
  border: 1px solid black;
}

#myTaskFrame .taskContainer .task .due {
  border: 1px solid black;
}
