#myTaskFrame,
#myTaskFrame * {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
}

#myTaskFrame {
  margin: 0 auto;
  /* width: 100%; */
  /* height: 100%; */
  width: 1400px;
  /* height: 540px; */
  height: 102%;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid black; */
  /* box-shadow: 0 0 8px #8c78ba; */
  overflow: hidden;
}

#myTaskFrame .categoryContainer {
  border-radius: 5px;
  width: 100%;
  height: 55px;
  box-shadow: 0px 15px 10px -20px #111;
  align-items: flex-start;
  align-content: flex-start;
  overflow:hidden;
}

#myTaskFrame .categoryContainer .category {
  font-family: "Manrope", sans-serif;
  color: rgb(47, 79, 79, 0.7);
  font-weight: 600;
  background-color: rgb(228, 232, 235, 0.7);
  font-size: 20.8px;
  border-radius: 4px;
  height: 85%;
  padding: 0 80px;
  margin: 0 3px;
  /* margin-top: 10px; */
  /* border: 1px solid black; */
  transition: 1s all;
}

#myTaskFrame .categoryContainer .categorySelected1 {
  background-image: linear-gradient(var(--inProgress1), var(--inProgress2));
}

#myTaskFrame .categoryContainer .categorySelected2 {
  background-image: linear-gradient(var(--waiting2), var(--waiting3));
}

#myTaskFrame .categoryContainer .categorySelected3 {
  background-image: linear-gradient(var(--completed3), var(--completed1));
}

#myTaskFrame .categoryContainer .categorySelected4 {
  background-image: linear-gradient(var(--terminated2), var(--terminated3));
}

#myTaskFrame .categoryContainer .categorySelected99 {
  background-image: radial-gradient(
    at 15% 20%,
    var(--completed1),
    var(--inProgress4)
  );
}

#myTaskFrame .categoryContainer .categorySelected {
  color: white;
  box-shadow: 0px 10px 7px -10px #087fff;
}

#myTaskFrame .taskContainer {
  border-radius: 5px;
  width: 100%;
  height: 470px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow: auto;
  /* border: 2px solid black; */
}

#myTaskFrame .taskContainer .task {
  margin-top: 18px;
  background-image: radial-gradient(at 20% 0%, white 40%, rgb(230, 238, 240));
  /* width: 33%;
  height: 100px; */
  width: 430px;
  height: 130px;
  flex-direction: column;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  transition: 200ms;
  /* border: 1px solid black; */
}

#myTaskFrame .taskContainer .task:hover {
  box-shadow: rgb(0 0 0 / 37%) 0px 3px 6px, rgb(0 0 0 / 40%) 0px 3px 6px;
}

#myTaskFrame .taskContainer .task div {
  width: 98%;
}
#myTaskFrame .taskContainer .task .name {
  text-align: center;
  display: flex;
  height: 65%;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  /* border: 1px solid black; */
  font-size: 18px;
  font-weight: 500;
}

#myTaskFrame .taskContainer .task .name::after {
  display: block;
  content: "";
  box-sizing: border-box;
  width: 7%;
  height: 37%;
  position: absolute;
  left: 93%;
  top: 0;
  background-image: url(../images/main/task/info.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5px;
  border-radius: 50%;
  background-origin: content-box;
  /* border: 1px solid black; */
  transition: 200ms ease;
  cursor: pointer;
  filter: drop-shadow(1.5px 1.5px 0 black );
}

#myTaskFrame .taskContainer .task .due {
  height: 30%;
  /* border: 1px solid black; */
}
