#userInfoPage {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0px 5px -1px black, 0px 10px 10px -5px black;
}

#userInfoPage .user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  height: 40%;
  width: 100%;
}
#userInfoPage .user .left {
  height: 100%;
  width: 30%;
  /* border: 1px solid black; */
}
#userInfoPage .user .left .photoContainer {
  height: 100%;
  width: 100%;
  /* border: 3px solid black; */
  border-radius: 10px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgb(125, 122, 122), 0 0 5px 1px inset silver;
}
#userInfoPage .user .right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 65%;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(125, 122, 122), 0 0 5px 1px inset silver;
}
#userInfoPage .user .right .top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 28%;
  /* border: 1px solid black; */
}
#userInfoPage .user .right .top .name {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  box-shadow: 0 35px 5px -35px black;
  /* border: 1px solid black; */
}
#userInfoPage .user .right .top .edit {
  filter: drop-shadow(1px 1px 2px darkgrey);
  background-image: url(../images/main/user/edit.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11%;
  transition: 500ms ease;
}

#userInfoPage .user .right .top .edit:hover {
  filter: drop-shadow(2px 2px 2px darkgrey);
  transform: scale(1.1);
}

#userInfoPage .user .right .bottom {
  height: 60%;
  width: 97%;
  display: flex;
  justify-content: center;
}
#userInfoPage .user .right .bottom .description {
  overflow: auto;
  line-height: 150%;
  font-size: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

/* **************************************** */
#userInfoPage .project {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(125, 122, 122), 0 0 5px 1px inset silver;
  width: 97%;
  height: 55%;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 20px;
}

#userInfoPage .project > .header {
  box-shadow: 0 24px 5px -24px black;
  width: 100%;
  height: 15%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userInfoPage .projects {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 20px;
  overflow: auto;
}

#userInfoPage .projects .projectContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 340px;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 5px rgb(62, 58, 58);
  transition: 500ms ease;
}

#userInfoPage .projects .projectContainer:has(.top .info:hover) {
  box-shadow: 0 0px 5px black;
  transform: scale(1.01);
}

#userInfoPage .projects .projectContainer .top {
  height: 45%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: 0 20px 5px -21px black;
}

#userInfoPage .projects .projectContainer .top .header {
  height: 100%;
  width: 90%;
  padding-left: 10%;
  padding-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

#userInfoPage .projects .projectContainer .top .info {
  background-image: url(../images/main/user/infoo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 8%;
  transition: 500ms ease;
}

#userInfoPage .projects .projectContainer .top .info:hover {
  transform: rotate(10deg) scale(1.1);
}
#userInfoPage .projects .projectContainer .bottom {
  height: 55%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
#userInfoPage .projects .projectContainer .bottom .number {
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
  /* border: 1px solid black; */
}
#userInfoPage .projects .projectContainer .bottom .progressBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  /* border: 1px solid black; */
}
#userInfoPage .projects .projectContainer .bottom .progressBarContainer .bar {
  border-radius: 10px;
  width: 90%;
  height: 10px;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px -2px black;
}
#userInfoPage
  .projects
  .projectContainer
  .bottom
  .progressBarContainer
  .progress {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(39, 209, 201);

  animation-name: fillProgress;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes fillProgress {
  0% {
    background-color: transparent;
    width: 0;
  }
  10% {
    background-color: transparent;
    width: 0;
  }

  11% {
    background-color: rgb(39, 209, 201);
  }
  100% {
    background-color: rgb(39, 209, 201);
  }
}
